:root{
  --mt-blue: #0d6efd;
  --mt-indigo: #6610f2;
  --mt-purple: #6f42c1;
  --mt-pink: #d63384;
  --mt-red: #dc3545;
  --mt-orange: #fd7e14;
  --mt-yellow: #ffc107;
  --mt-green: #198754;
  --mt-teal: #20c997;
  --mt-cyan: #0dcaf0;
  --mt-black: #000;
  --mt-white: #fff;
  --mt-gray: #6c757d;
}